  @font-face {
      font-family: chivoMedium;
      src: url(./src/fonts/Chivo-Medium.woff);
    }


* {
  box-sizing: border-box;

}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: sans-serif;
}

.main__content {
  display: flex;
  flex-direction: column;
}
header {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: #ffffff;
  color: #e5e5e5;
}

.logo {
  width: 100%;
  margin: 5px;
}

#menu {
  font-family: chivoMedium;
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin: 0;
}

.link {
  color: #6B6B6B;
  text-decoration: none;
  font-size: 30pt;
  /*font-weight: ;
  /*background-color: #6357ff;*/
  padding: 5px 10px;
  border-radius: 5px;
}

section {
  width: 100%;
  height: 100vh;
}

#home {
  color: #ffffff;
  background: url(./src/imagenes/SVG/Mesa\ de\ trabajo\ 1.svg) no-repeat center;
  background-size: cover;
  display: inherit;
  justify-content: center;
  align-items: center;
}

.capa1 {
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(2, 0, 36, 0.767) 0%, rgba(255,255,255,0) 50%);
}

#quienes {
  background-color: #6357ff;
}

#productos {
  background-color: #e5e5e5;
}

#contacto {
  background-color: #6357ff;
}
