@import url(./fonsts.css);
:root {
  --font-principal-medium: chivoMedium, sans-serif;
  --font-principal-regular: chivoRegular, sans-serif;
  --font-principal-bold: chivoBold, sans-serif;
  --color-fuente-header: #6b6b6b;
  --color-secundary: #6357ff;
  --color-gris: #e5e5e5;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-principal-medium);
  width: 100%;
  overflow-x: hidden;
}

.main__content {
  display: flex;
  flex-direction: column;
}
header {
  width: 100%;
  height: 5rem;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  position: fixed;
  background-color: #ffffff;
  z-index: 999;
}
header a {
  margin-left: 100px;
}
.header__logo {
  width: 250px;
  margin: 5px;
}

.menu {
  font-weight: 500;
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin: 0;
}

.link {
  color: var(--color-fuente-header);
  text-decoration: none;
  font-size: 1.5rem;
  font-family: var(--font-principal-medium);
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: 500;
}

.home {
  color: #ffffff;
  background: url(../../src/imagenes/SVG/Mesa\ de\ trabajo\ 1.svg) no-repeat
    center;
  background-size: cover;
  display: flex;
  position: relative;
  align-items: end;
  height: 100vh;
  padding-top: 5rem;
}

.home::after {
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    0deg,
    rgba(2, 0, 36, 0.767) 0%,
    rgba(255, 255, 255, 0) 50%
  );
}
.home__title {
  margin-bottom: 7rem;
  margin-left: 50px;
  z-index: 34;
  max-width: 500px;
  display: block;
  position: relative;
  margin-left: 190px;
}
.home__title::after {
  position: absolute;
  content: '';
  width: 200px;
  border: 2px solid var(--color-gris);
}
.home__title h1 {
  font-family: var(--font-principal-medium);
  font-weight: 500;
  font-size: 3rem;
  color: #fff;
}

.quienes {
  display: block;
  background-color: var(--color-secundary);
  position: relative;
  overflow: hidden;
}
.quienes::after {
  content: '';
  background: no-repeat url(../vectores/PNG/logoFondo.png);
  position: absolute;
  top: -170px;
  left: -220px;
  width: 1200px;
  height: 100%;
  opacity: 0.2;

  -webkit-pointer-events: none;
  -moz-pointer-events: none;
  -ms-pointer-events: none;
  -o-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.quienes__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color-gris);
}
.quienes__logo img {
  width: 600px;
}
.quienes__hero {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-left: 310px;
}
.hero__icons img {
  /* margin-left: 100px; */
  height: 60%;
}
.hero__info {
  display: flex;
  flex-direction: column;
  max-width: 650px;
  height: 560px;
  gap: 100px;
  margin: 10px;
}
.hero__info h3 {
  font-family: var(--font-principal-regular);
  padding: 10px;
  font-size: 1.5rem;
  font-weight: 400;
}
.hero__service {
  padding: 10px 35px;
}
.hero__service li {
  font-family: var(--font-principal-bold);
  font-size: 25px;
  font-weight: 500;
}

.quienes__footer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 20px;
  position: absolute;
  bottom: 100px;
  width: 80%;
  margin-left: 190px;
}
.quienes__footer h3 {
  color: var(--color-gris);
  font-weight: normal;
  font-size: 1.5rem;
}
.quienes__footer img {
  width: 140px;
}
.productos {
  background-color: #fff;
  position: relative;
  /* width: 95vw; */
  height: 1800px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.productos::after {
  content: '';
  background: no-repeat url(../vectores/PNG/logoFondo.png);
  background-size: cover;
  position: absolute;
  top: 0;
  right: -833px;
  width: 2186px;
  height: 100%;
  z-index: 0;

  -webkit-pointer-events: none;
  -moz-pointer-events: none;
  -ms-pointer-events: none;
  -o-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.productos__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 550px);
  place-content: top;
  place-items: center;
  gap: 40px;
  padding: 40px;
  position: absolute;
  top: -150px;
  left: 210px;
  right: 210px;
  bottom: 0;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 320px;
  border-radius: 20px;
  box-shadow: 0px 0px 21px 7px var(--color-fuente-header);
  z-index: 100;
}

.card__imagen {
  width: 320px;
  height: 320px;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0px 0px 21px 7px var(--color-fuente-header);
}
.card__descripcion {
  font-family: var(--font-principal-bold);
  color: var(--color-fuente-header);
  height: 100px;
  text-align: center;
  vertical-align: middle;
  font-size: 1.5rem;
  padding: 5px;
  display: flex;
  align-items: center;
}
.card__descripcion p {
  margin: 0;
}

/* SECCION CONTACTO */

.contacto {
  display: flex;
  justify-content: end;
  z-index: 9;
  text-align: left;
}
.contacto__content {
  background-color: var(--color-secundary);
  height: 400px;
  width: 90%;
  float: right;
  border-radius: 70px 0 0 0;
  color: var(--color-gris);
  padding: 30px;
}
.contacto__content h2 {
  font-weight: normal;
  font-size: 1.5rem;
  margin-left: 25px;
}

.contacto__content ul {
  text-align: left;
  list-style: none;
  padding: 0;
}
.contacto__content ul li {
  display: flex;
  align-items: center;
  font-size: 2rem;
  font-family: var(--font-principal-bold);
}

/* SECCION FOOTER */
.footer {
  display: flex;
  height: 70px;
  background-color: var(--color-fuente-header);
  color: var(--color-gris);
  justify-content: space-around;
  align-items: center;
  z-index: 9;
  gap: 40px;
}
.footer__logo {
  width: 250px;
}
.footer__menu {
  margin: 0;
  padding: 0;
  list-style: none;
  width: auto;
  display: flex;
  justify-content: center;
  gap: 15px;
}
.footer__link {
  color: var(--color-gris);
  text-decoration: none;
}
